@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@fontsource-variable/geist";

:root {
    --primary: #FFFFFF;
    --primary1: #363738;
    --secondary: #F5F5F5;
    --secondary1: #FEFAF1;
    --secondary2: #DB4444;
    --text: #FAFAFA;
    --text1: #7D8184;
    --text2: #000000;
    --button: #000000;
    --button1: #00FF66;
    --button2: #DB4444;
    --hover-button:#E07575;
    --hover-button1:#A0BCE0;
   
}

@theme {
  --color-primary: var(--primary);
  --color-primary-1: var(--primary1);
  --color-secondary: var(--secondary);
  --color-secondary-1: var(--secondary1);
  --color-secondary-2: var(--secondary2);
  
  --color-text: var(--text);
  --color-text-1: var(--text1);
  --color-text-2: var(--text2);

  --color-btn: var(--button);
  --color-btn-1: var(--button1);
  --color-btn-2: var(--button2);
  --color-btn-hover: var(--hover-button);
  --color-btn-hover-1: var(--hover-button1);
}

*{
   
    box-sizing: border-box;
}

.flexLayout {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    min-height: 100vh;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0.5rem 0.8rem;
}



